* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: rgb(27, 24, 24);
  padding-left: 400px;
  padding-right: 400px;
  width: 886px;
}

.footer {
  width: 100%;
  height: 45vh;
  background-color: rgba(239, 242, 244, 0.582);
  padding: 0;
  margin: 0;
}

.header p {
  cursor: pointer;
  color: rgb(185, 183, 183);
}

.shopping-bag-icon {
  color: rgb(185, 183, 183);
}

.header p:hover {
  color: white;
}

.apple-icon {
  color: rgb(185, 183, 183);
  cursor: pointer;
  margin-bottom: 10px;
}
.apple-icon:hover {
  color: white;
}

.search-icon:hover {
  color: white;
}

.account-icon {
  color: rgb(185, 183, 183);
  cursor: pointer;
}
.account-icon:hover {
  color: white;
}

.img-macbook {
  width: 100%;
  height: 100%;
}

.img-macbook-2 {
  width: 100%;
  height: 100%;
}

.search-icon {
  color: rgb(185, 183, 183);
  cursor: pointer;
}

.search-box.click {
  top: 30%;
  transform: translate(-50%, 50%);
  border-radius: 40px;
}

.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}

.search-txt {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: none;
  outline: none;
  float: left;
  padding-left: 0;
  color: rgb(2, 2, 2);
  font-size: 16px;
  transition: 0.4s;
  line-height: 25px;
  width: 0px;
}
.box-register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-a {
  text-decoration: none;
  color: black;
}

.register-a {
  text-decoration: none;
  color: black;
}

.log-in {
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.register-p {
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advertisingPicture {
  width: 500px;
  height: 500px;
}

.macbook-air-icon {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.macbook-pro-icon {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.icons-air-pro {
  display: flex;
  justify-content: center;
  align-items: baseline;
  cursor: pointer;
}

.icons-air-pro p {
  font-size: 15px;
  align-items: center;
  margin-top: -7px;
}

.air {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.pro {
  display: flex;
  flex-direction: column;
}

.icons_iPhones {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}

.icons_iPhones p {
  font-size: 14px;
  padding-top: 5px;
}

.iphone_icon-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.iphone_icon-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.iphone_icon-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.iphone_icon-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.iphone_icon-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iphone-13-pro {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.iphone-13 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.iphone-12 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.iphone-11 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.iphone-se {
  width: 53px;
  height: 53px;
  cursor: pointer;
}

.airpods-icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.airpods-icons p {
  font-size: 14px;
  padding-top: 5px;
}

.airpods-icon-1 {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
}

.airpods-icon-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.airpods-icon-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.airpods-icon-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airpods-img-1 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.airpods-img-2 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.airpods-img-3 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.airpods-img-4 {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.card-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  padding-left: 10px;
  margin-top: 20px;
}

.p-1 {
  font-size: 25px;
}

.p-2 {
  margin-top: 5px;
  font-size: 15px;
}

.p-3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.p-4 {
  margin-top: 30px;
}

.p-5 {
  margin-top: 40px;
  font-size: 15px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  /* border-radius: 5px; */
  margin-bottom: 50px;
  width: 200px;
  margin-right: 20px;
}

.card-icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
}

.mac-buy {
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgb(31, 102, 216);
  color: white;
  margin-top: 10px;
  margin-bottom: 8px;
}

.learn-more {
  text-decoration: none;
  color: rgb(42, 87, 236);
  margin-top: 10px;
}

.learn-more:hover {
  text-decoration: underline;
}

.img-air {
  width: 70%;
  height: 70%;
}

.img-air-2 {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  margin-top: 50px;
}

.images-air {
  display: flex;
  justify-content: baseline;
}

.img-black {
  width: 600.5px;
  height: 350px;
  background-color: black;
  margin-bottom: -85px;
}

.img-black p {
  display: flex;
  justify-content: center;
  color: white;
  margin: 30px;
}

.img-black a {
  display: flex;
  justify-content: center;
  color: rgb(47, 114, 231);
  text-decoration: none;
  font-size: 20px;
}

.img-black a:hover {
  text-decoration: underline;
}

.direction {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.macBook-air {
  font-size: 30px;
  margin-top: 30px;
}

.img-macbook-list {
  width: 100%;
  height: 100%;
}

.img-air {
  width: 50%;
  height: 50%;
  margin-bottom: 60px;
}

.img-macBook {
  display: flex;

  width: 50%;
  height: 50%;
}

.div-black {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1686px;
  height: 700px;
  background-color: black;
  margin-left: -270px;
}

.div-black p {
  color: white;
}

.div-black button {
  width: 60px;
  height: 38px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(31, 102, 216);
  font-size: 15px;
  margin-right: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
}

.div-black button:hover {
  background-color: rgb(53, 114, 212);
}

.div-black a {
  font-size: 20px;
  color: rgb(31, 102, 216);
  text-decoration: none;
  margin-bottom: 60px;
}

.div-black a:hover {
  text-decoration: underline;
}

.div-bl-p {
  margin-top: 20px;
  font-size: 45px;
  color: white;
}

.black-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-bl-p-2 {
  font-size: 27px;
  margin-bottom: 30px;
}

.from {
  margin-bottom: 30px;
  font-size: 20px;
}

.container-macbook-air {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.inscriptions-macbook-air {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.air-name {
  font-size: 45px;
}

.dont-take {
  font-size: 25px;
}

.dollar {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.container-macbook-air button {
  width: 60px;
  height: 38px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(31, 102, 216);
  font-size: 15px;
  cursor: pointer;
}

.container-macbook-air button:hover {
  background-color: rgb(53, 114, 212);
}

.container-macbook-air a {
  font-size: 20px;
  color: rgb(31, 102, 216);
  text-decoration: none;
  margin-top: 20px;
}

.container-macbook-air a:hover {
  text-decoration: underline;
}

.macs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: rgba(198, 198, 201, 0.435);
  width: 1686px;
  margin-left: -270px;
  margin-top: 30px;
  color: rgb(62, 61, 61);
}

.macs-container a {
  font-size: 15px;
  color: rgb(31, 102, 216);
  text-decoration: none;
}

.macs-container a:hover {
  text-decoration: underline;
}

.container-airpods {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1686px;
  height: 5vh;
  background-color: rgba(198, 198, 201, 0.435);
  margin-top: 30px;
}

.container-airpods a {
  color: rgb(31, 102, 216);
  text-decoration: none;
}

.container-airpods a:hover {
  text-decoration: underline;
}

.container-airpods p {
  color: rgb(59, 58, 58);
}

.container-video-airpods {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 30px;
}

.container-video-airpods video {
  width: 1500px;
  height: 100%;
  border: none;
  border-radius: 30px;
}

.img-airpods-3d {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1505px;
  height: 700px;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.right-airpods {
  width: 350px;
  height: 500px;
  margin-right: 50px;
}

.left-airpods {
  width: 350px;
  height: 500px;
}

.container-3d-airpods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscription-airpods-3rd p {
  color: white;
}

.airpods-pro-p {
  margin-bottom: 300px;
  font-size: 50px;
  color: white;
}

.video-btn {
  width: 70px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: white;
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.inscr-video-airpods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -270px;
  /* padding-bottom: 270px; */
}

.inscr-video-airpods a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.inscr-video-airpods a:hover {
  text-decoration: underline;
}

.all-container-airpods-video {
  margin-bottom: 100px;
}

#airpods-v-p {
  color: white;
  font-size: 80px;
}

#airpods-v-p-3rd {
  color: white;
  font-size: 20px;
}

#airpods-v-p-dollar {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.all-container-3rd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rd3-btn {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.inscription-airpods-3rd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -400px;
}

.all-all-pro {
  margin-bottom: 220px;
}

.airpods-pro-pro {
  font-size: 80px;
}

.pro-dollar {
  margin-bottom: 40px;
}

.airpods-pro-a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.airpods-pro-a:hover {
  text-decoration: underline;
}

.airpods-max-img {
  width: 500px;
  height: 500px;
}

.all-background {
  background-color: rgb(240, 243, 247);
}

.background-airpods-max {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 700px;
  background-color: white;
  border: none;
  border-radius: 30px;
}

.all-container-airpods-max {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.inscriptions-airpods-max {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.airpods-max-p {
  font-size: 180px;
}

.airpods-max-dollar {
  font-size: 25px;
  padding-bottom: 10px;
}

.container-img-airpods-max {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -570px;
}

.all-all-airpods-max {
  padding-bottom: 200px;
}

.airpods-max-a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.airpods-max-a:hover {
  text-decoration: underline;
}

.airpods-max-btn {
  width: 70px;
  height: 40px;
  background-color: black;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.airpods-max-btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -160px;
}

.container-airpods-2nd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 700px;
  background-color: white;
  border: none;
  border-radius: 30px;
}

.img-airpods-2nd {
  width: 270px;
  height: 600px;
  margin-right: 100px;
}

.airpods-2nd-2 {
  width: 270px;
  height: 600px;
}

.all-airpods-2nd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.airpods-2nd-p {
  font-size: 120px;
}

.inscriptions-airpods-2nd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -700px;
}

.all-all-airpods-2nd {
  padding-bottom: 200px;
}

.generation-2nd-airpods {
  font-size: 20px;
}

.airpods-2nd-dollar {
  font-size: 20px;
  margin-bottom: 50px;
}

.airpods-2nd-btn {
  width: 70px;
  height: 40px;
  background-color: black;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.airpods-2nd-a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.airpods-2nd-a:hover {
  text-decoration: underline;
}

.vh5-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1686px;
  height: 5vh;
  background-color: rgba(198, 198, 201, 0.435);
  margin-top: 30px;
}

.vh5-container a {
  color: rgb(31, 102, 216);
  text-decoration: none;
}

.vh5-container a:hover {
  text-decoration: underline;
}

.container-iphone-13pro {
  display: flex;
  justify-content: center;
  width: 1680px;
  height: 500px;
}

.iphone-13pro-img {
  width: 700px;
  height: 500px;
}

.inscription-iphone-13-pro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: -300px; */
  margin-top: 50px;
  /* justify-content: center; */
}

.iphone-13-pro-btn {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.iphone-13pro-p {
  font-size: 50px;
}

.oh-so-p {
  font-size: 30px;
  margin-bottom: 20px;
}

.iphone-13-pro-dollar {
  font-size: 25px;
  margin-bottom: 20px;
}

.iphone-13-pro-a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(53, 114, 212);
}

.iphone-13-pro-a:hover {
  text-decoration: underline;
}

.vh3-container {
  width: 1686px;
  height: 1.5vh;
  background-color: rgba(206, 224, 237, 0.435);
}

.inscriptions-iphone-13 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.iphone-13-btn {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.iphone-13-p {
  font-size: 50px;
}

.your-new-super-power {
  font-size: 30px;
  margin-bottom: 20px;
}

.iphone-13-dollar {
  font-size: 25px;
  margin-bottom: 20px;
}

.iphone-13-a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(53, 114, 212);
}

.iphone-13-a:hover {
  text-decoration: underline;
}

.img-iphone-13 {
  width: 750px;
  height: 450px;
}

.container-img-iphone-13 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-13-container-vh2 {
  width: 1686px;
  height: 1.5vh;
  background-color: rgba(206, 224, 237, 0.435);
}

.img-iphone-se {
  width: 580px;
  height: 800px;
}

.container-img-iphone-se {
  display: flex;
  justify-content: flex-end;
  height: 800px;
}

.iphone-se-p {
  font-size: 50px;
}

.love-the-power {
  font-size: 60px;
}

.love-the-price {
  font-size: 60px;
  margin-bottom: 20px;
}

.iphone-se-dollar {
  font-size: 25px;
  margin-bottom: 20px;
}

.iphone-se-btn {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.iphone-se-a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(53, 114, 212);
}

.iphone-se-a:hover {
  text-decoration: underline;
}

.inscription-iphone-se {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 300px;
  margin-left: 300px;
}

.all-all-container-iphone-se {
  display: flex;
  justify-content: baseline;
  background-color: rgba(240, 242, 243, 0.42);
}

.iphone-se-container-vh2 {
  width: 1686px;
  height: 1.5vh;
  background-color: rgba(206, 224, 237, 0.435);
}

.iphone-11-img {
  width: 1686px;
  height: 650px;
}

.iphone-11-p {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.iphone-11-dollar {
  font-size: 25px;
  margin-bottom: 10px;
}

.iphone-11-btn {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.iphone-11-a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(53, 114, 212);
}

.iphone-11-a:hover {
  text-decoration: underline;
}

.inscriptions-iphone-11 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 223, 223, 0.59);
}

.add-macs-button {
  width: 80px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.macbook-air-p {
  font-size: 80px;
  margin-bottom: 70px;
  margin-top: 50px;
}

.macbook-air-img-1 {
  width: 450px;
  height: 250px;
  margin-right: 80px;
}
.macbook-air-img-2 {
  width: 450px;
  height: 250px;
}

.container-all-macbook-air {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-images-air {
  display: flex;
  justify-content: baseline;
}

.inscriptions-macbook-air {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 75px;
  margin-top: 50px;
}

.inscriptions-macbook-air-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.macbook-air-m1 {
  font-size: 25px;
}

.macbook-air-p-1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.macbook-air-btn {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.macbook-air-a {
  font-size: 20px;
  color: rgb(53, 114, 212);
  text-decoration: none;
}

.macbook-air-a:hover {
  text-decoration: underline;
}

.macbook-air-m1-2 {
  font-size: 25px;
}

.macbook-air-p-2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.macbook-air-btn-2 {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.macbook-air-a-2 {
  font-size: 20px;
  color: rgb(53, 114, 212);
  text-decoration: none;
}

.macbook-air-a-2:hover {
  text-decoration: underline;
}

.inscriptions-macbook-air-2 {
  margin-top: 50px;
}

.add-macbook-air-btn {
  width: 120px;
  height: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(53, 114, 212);
  cursor: pointer;
}

.container-btn-add-air {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-pro-p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pro-mac-p {
  font-size: 80px;
}

.img-macbook-pro {
  width: 400px;
  height: 220px;
  margin-right: 80px;
}

.img-macbook-pro-2 {
  width: 550px;
  height: 250px;
}

.container-images-macbook-pro {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inscription-macbook-pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 75px;
}

.inscription-macbook-pro-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mac-13 {
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.pro-dollar {
  font-size: 25px;
}

.mac-pro-btn {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.mac-pro-a {
  font-size: 20px;
  color: rgb(53, 114, 212);
  text-decoration: none;
}

.mac-pro-a:hover {
  text-decoration: underline;
}
.mac-14-16 {
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.pro-dollar-2 {
  font-size: 25px;
  margin-bottom: 40px;
}

.mac-pro-btn-2 {
  width: 70px;
  height: 40px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.mac-pro-a-2 {
  font-size: 20px;
  color: rgb(53, 114, 212);
  text-decoration: none;
}

.mac-pro-a-2:hover {
  text-decoration: underline;
}

.mac-pro-add-btn {
  background-color: rgb(53, 114, 212);
  color: white;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 30px;
}

.mac-pro-add-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.iphone-13-pro-p {
  font-size: 60px;
}

.div-13-pro-p {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.add-iphone-13-pro-btn {
  width: 150px;
  height: 30px;
  background-color: rgb(53, 114, 212);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.iphone13-pro-p {
  font-size: 40px;
  margin-bottom: 20px;
}

.card-13-pro {
  margin-bottom: 50px;
}

.container-13-pro-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.video-13-pro {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.img-13-pro {
  width: 700px;
  height: 400px;
  border-radius: 30px;
  margin-right: 40px;
}

.img-13-pro-2 {
  width: 650px;
  height: 400px;
  border-radius: 30px;
}

.p-13-pro {
  color: white;
  margin-left: -400px;
  margin-top: 350px;
  font-size: 19px;
}

.img-iphone-13 {
  width: 750px;
  height: 500px;
  border-radius: 30px;
  margin-right: 50px;
}

.container-img-iphone-13 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-iphone-13-p {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.iphone-13-p {
  font-size: 50px;
}

.img-iphone-13-2 {
  width: 500px;
  height: 500px;
  border-radius: 30px;
}

.img-iphone-12 {
  width: 1300px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}

.container-img-iphone-12 {
  display: flex;
  justify-content: center;
}

.container-12-p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-12-p p {
  font-size: 50px;
}

.img-iphone-11 {
  width: 500px;
  height: 600px;
}

.img-airpods-2nd-1 {
  width: 400px;
  height: 400px;
}

.img-airpods-2nd-2 {
  width: 350px;
  height: 350px;
}

.img-airpods-2nd-3 {
  width: 400px;
  height: 400px;
}

.img-airpods-2nd-4 {
  width: 400px;
  height: 400px;
}

.container-first-airpods-2nd-img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img-airpods-3rd-1 {
  width: 400px;
  height: 400px;
}

.img-airpods-3rd-2 {
  width: 400px;
  height: 400px;
}

.img-airpods-3rd-3 {
  width: 400px;
  height: 400px;
}

.img-airpods-3rd-4 {
  width: 400px;
  height: 400px;
}

.container-airpods-3rd-img {
  display: flex;
  justify-content: center;
}

.img-airpods-pro-1 {
  width: 400px;
  height: 400px;
}

.img-airpods-pro-2 {
  width: 400px;
  height: 400px;
}

.img-airpods-pro-3 {
  width: 400px;
  height: 400px;
}

.img-airpods-pro-4 {
  width: 400px;
  height: 400px;
}

.container-airpods-pro-img {
  display: flex;
  justify-content: center;
}

.container-2nd-generation {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-2nd-generation p {
  font-size: 50px;
}

.buy-btn-airpods-2nd {
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background-color: rgb(53, 114, 212);
  cursor: pointer;
  color: white;
}

.container-btn-2nd {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}

.container-3rd-generation {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-3rd-generation p {
  font-size: 50px;
}

.container-airpods-pro-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-airpods-pro-list p {
  font-size: 50px;
}

.container-info-2nd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin-left: 400px;
}

.container-info-airpods-pro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin-left: 400px;
}

.container-info-3rd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin-left: 400px;
}

.container-airpods-max-p {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-airpods-max-p p {
  font-size: 50px;
}

.img-airpods-max {
  width: 600px;
  height: 500px;
  margin-right: 50px;
}

.img-airpods-max-2 {
  width: 350px;
  height: 500px;
  margin-right: 50px;
}

.container-images-airpods-max {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.img-airpods-max-3 {
  width: 550px;
  height: 500px;
}

.card-airpods {
  margin-bottom: 50px;
  margin-right: 70px;
}

.container-all-products-apple {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
}

.container-all-products-apple p {
  font-size: 50px;
}

.container-search-live {
  margin-top: 60px;
}

/* .container-all-products {
  display: flex;
  justify-content: baseline;
  align-items: center;
} */

.footer-shop-learn a {
  text-decoration: none;
  color: black;
  margin-right: 100px;
}

.copyright {
  color: rgb(126, 126, 126);
}

.container-copyright {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.more-ways {
  color: rgb(126, 126, 126);
  margin-bottom: 10px;
}

.container-more-ways {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(170, 168, 168);
  margin-top: 75px;
}

.container-US {
  display: flex;
  justify-content: flex-end;
}

.container-US p {
  color: rgb(126, 126, 126);
  margin-top: -20px;
  margin-right: 20px;
}

.servises {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
}

.servises a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.servises p {
  margin-bottom: 10px;
  font-size: 18px;
}

.all-inscriptions-footer {
  display: flex;
  justify-content: baseline;
}

.add-comment-btn {
  width: 95px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background-color: rgb(53, 114, 212);
  color: white;
}

.comments-container-p {
  max-width: 400px;
  border-bottom: 1px solid rgb(129, 127, 127);
}

.name-p {
  font-size: 22px;
  color: rgb(167, 168, 169);
}

.container-btn-add-comment {
  display: flex;
  justify-content: center;
}

.comment-p {
  font-size: 20px;
}

.mac-pro-cart-icon {
  width: 23px;
}

.apple-store {
  margin-left: 100px;
  margin-right: 100px;
}

.apple-store p {
  font-size: 14px;
  margin-bottom: 10px;
}

.apple-values p {
  margin-bottom: 10px;
  font-size: 14px;
}
.favorite-product-p {
  font-size: 50px;
}
.container-favorite-p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media all and (max-width: 1440px) {
  .header {
    width: 886px;
  }

  .iphone-13pro-img {
    width: 500px;
    height: 300px;
  }
  .container-iphone-13pro {
    display: flex;
    justify-content: center;
    width: 1680px;
    height: 300px;
  }
  .inscription-iphone-13-pro {
    margin-left: 200px;
  }
  .inscriptions-iphone-13 {
    margin-left: 200px;
  }

  .img-iphone-13 {
    width: 500px;
    height: 300px;
    margin-left: 200px;
  }
  .container-all-iphone-13 {
    height: 596px;
  }
  .img-iphone-se {
    width: 400px;
    height: 600px;
    margin-top: 100px;
    margin-left: 200px;
  }
  .all-all-container-iphone-se {
    width: 1686px;
  }
  .love-the-power {
    font-size: 50px;
  }
  .love-the-price {
    font-size: 50px;
  }
  .inscription-iphone-se {
    margin-right: 100px;
  }
  .footer {
    width: 1686px;
    height: 35vh;
  }
  .icons_iPhones {
    margin-left: 250px;
  }
  .all-background {
    width: 1686px;
  }
  .all-container-airpods-2nd-generation {
    margin-left: 150px;
  }
  .all-container-aipods-3rd-generation {
    margin-left: 200px;
  }
  .all-container-airpods-pro {
    margin-left: 200px;
  }
  .all-container-airpods-max-media {
    display: flex;
    flex-direction: column;
    margin-left: 230px;
  }

  .icons-air-pro {
    margin-left: 250px;
  }
  .macs-container {
    width: 1813px;
  }
  .container-macbook-air {
    margin-left: 350px;
  }
  .div-black {
    width: 1813px;
  }
  .black-p {
    margin-left: 200px;
  }
  .img-macBook {
    margin-left: 200px;
  }

  /* .vh5-container {
    width: 100%;
  }
  .iphone-13-container-vh2 {
    width: 1440px;
  }
  .vh3-container {
    width: 1440px;
  } */
}

@media all and (max-width: 1024px) {
  .table-container {
    margin-left: 500px;
  }
  .container-favorite-media {
    display: flex;
    margin-left: 400px;
  }
  .div-black {
    width: 1932px;
  }
  .macs-container {
    width: 1932px;
  }
  .icons-air-pro {
    margin-left: 750px;
  }
  .container-macbook-air {
    width: 800px;

    padding-left: 150px;
  }
  .air-name {
    font-size: 30px;
  }
  .dont-take {
    font-size: 20px;
  }
  .dollar {
    font-size: 15px;
  }
  .black-p {
    padding-left: 150px;
  }
  .img-macBook {
    padding-left: 150px;
  }
  .inscriptions-macbook-air {
    margin-top: 0;
  }
  .icons_iPhones {
    margin-left: 700px;
  }
  .inscription-iphone-13-pro {
    margin-left: 700px;
  }
  .container-iphone-13pro {
    margin-left: 25px;
  }
  .container-all-iphone-13 {
    margin-left: 500px;
  }
  .container-all-iphone-13-pro-media {
    margin-left: 350px;
  }
  .box-iphone-13-pro {
    margin-left: 250px;
  }
  .container-13-pro-btn {
    margin-left: 250px;
  }
  .iphone-13-pro-p {
    margin-left: 330px;
  }
  .container-all-iphone-13-media {
    margin-left: 400px;
  }
  .img-iphone-13-2 {
    width: 300px;
    height: 300px;
  }
  .box-iphone-13 {
    margin-left: 250px;
  }
  .iphone-13-p {
    margin-left: 300px;
  }
  .container-all-iphone-12-media {
    margin-left: 650px;
  }
  .container-iphone-12-btn {
    margin-left: 118px;
  }
  .container-first-airpods-2nd-img {
    margin-left: 500px;
  }
  .container-2nd-generation p {
    margin-right: -500px;
    margin-bottom: 20px;
  }
  .info-2nd-airpods {
    font-size: 30px;
  }
  .container-3rd-generation {
    margin-right: -500px;
  }
  .container-airpods-3rd-img {
    margin-left: 400px;
  }
  .info-airpods-3rd {
    font-size: 30px;
  }
  .container-airpods-pro-list {
    margin-right: -500px;
  }
  .info-airpods-pro {
    font-size: 30px;
  }
  .container-airpods-pro-img {
    margin-left: 400px;
  }
  .all-container-airpods-max-media {
    margin-left: 700px;
  }
  .container-airpods-max {
    margin-left: 100px;
  }
  .footer {
    height: 50vh;
  }
  .all-container-all-products {
    margin-right: -500px;
  }
  .box-mac-pro-card {
    margin-left: 100px;
  }
  .box-mac-air-card {
    margin-left: 100px;
  }
  .box-iphone-13-pro-card {
    margin-left: 100px;
  }
  .box-iphone-13-card {
    margin-left: 100px;
  }
  .box-iphone-12-card {
    margin-left: 100px;
  }
  .box-airpods-card {
    margin-left: 160px;
  }
  .container-all-mac-air-media {
    margin-left: 600px;
  }
  .macbook-air-p {
    margin-right: -100px;
  }
  .container-all-mac-pro-media {
    margin-left: 700px;
  }
  .pro-mac-p {
    margin-right: -120px;
  }
}

@media all and (max-width: 768px) {
  .all-container-all-products {
    margin-right: -800px;
  }
  .icons-air-pro {
    margin-left: 850px;
  }
  .air p {
    font-size: 13px;
  }
  .pro p {
    font-size: 13px;
  }
  .macbook-air-p {
    font-size: 68px;
    margin-right: -250px;
  }
  .container-images-air {
    margin-left: 270px;
    margin-bottom: 50px;
  }
  .box-mac-airs-media {
    margin-left: 300px;
  }
  .container-btn-add-air {
    margin-left: 230px;
    width: 120px;
  }
  .container-all-mac-pro-media {
    margin-left: 850px;
  }
  .mac-pro-add-container {
    width: 130px;
    margin-left: -75px;
  }
  .container-pro-p {
    width: 500px;
    font-size: 68px;
    margin-left: -270px;
  }
  .icons_iPhones {
    margin-left: 900px;
  }
  .iphone_icon-1 p {
    width: 70px;
    font-size: 12px;
  }
  .iphone_icon-2 p {
    width: 70px;
    font-size: 12px;
    padding-left: 22px;
  }
  .iphone_icon-3 p {
    width: 70px;
    font-size: 12px;
  }
  .inscription-iphone-13-pro {
    margin-left: 900px;
  }
  .iphone-13pro-p {
    width: 180px;
    font-size: 30px;
  }
  .oh-so-p {
    font-size: 25px;
  }
  .iphone-13-pro-dollar {
    width: 80px;
    font-size: 20px;
  }
  .iphone-13-pro-btn {
    width: 50px;
    height: 20px;
    font-size: 10px;
    margin-right: 20px;
  }
  .iphone-13-pro-a {
    font-size: 13px;
    width: 80px;
  }
  .iphone-13pro-img {
    margin-left: 30px;
    width: 350px;
    height: 250px;
  }

  .container-for-height {
    height: 430px;
  }
  .iphone-13-p {
    font-size: 30px;
    width: 140px;
  }
  .your-new-super-power {
    font-size: 24px;
    margin-left: 290px;
    margin-top: 5px;
  }
  .iphone-13-dollar {
    font-size: 20px;
    margin-left: 310px;
    width: 80px;
  }
  .iphone-13-btn {
    width: 50px;
    height: 20px;
    font-size: 10px;
    margin-left: 280px;
  }
  .iphone-13-a {
    font-size: 13px;
    width: 80px;
    margin-left: 290px;
  }
  .img-iphone-13 {
    width: 350px;
    height: 250px;
    margin-left: 520px;
  }
  .container-all-iphone-13 {
    height: 512px;
  }
  .iphone-se-p {
    font-size: 30px;
  }
  .love-the-power {
    font-size: 35px;
  }
  .love-the-price {
    font-size: 35px;
  }
  .iphone-se-dollar {
    font-size: 20px;
  }
  .iphone-se-btn {
    width: 50px;
    height: 20px;
    font-size: 10px;
  }
  .iphone-se-a {
    font-size: 13px;
  }
  .iphone-13-pro-p {
    font-size: 50px;
  }
  .div-13-pro-p {
    width: 700px;
  }
  .video-13-pro {
    margin-left: 220px;
  }
  .box-iphone-13-pro {
    margin-left: 500px;
  }
  .container-13-pro-btn {
    margin-left: 450px;
    width: 130px;
  }
  .p-1 {
    font-size: 20px;
  }
  .p-2 {
    font-size: 15px;
  }
  .iphone-13-p {
    font-size: 34px;
  }

  .container-iphone-13-p {
    width: 700px;
  }
  .box-iphone-13 {
    margin-left: 500px;
  }
  .img-iphone-13-2 {
    width: 250px;
    height: 250px;
  }
  .container-12-p p {
    font-size: 50px;
    margin-right: 200px;
  }
  .container-12-p {
    width: 700px;
  }
  .img-iphone-12 {
    width: 900px;
    height: 450px;
    margin-left: 300px;
  }
  .box-iphone-12 {
    margin-left: 200px;
  }
  .img-iphone-se {
    width: 400px;
    height: 500px;
  }
  .all-all-container-iphone-se {
    height: 700px;
  }
  .img-airpods-2nd-1 {
    width: 550px;
    height: 350px;
  }
  .img-airpods-2nd-2 {
    width: 500px;
    height: 300px;
  }
  .img-airpods-2nd-3 {
    width: 550px;
    height: 350px;
  }
  .img-airpods-2nd-4 {
    width: 550px;
    height: 350px;
  }
  .info-2nd-airpods {
    width: 250px;
    font-size: 25px;
  }
  .buy-btn-airpods-2nd {
    margin-right: -300px;
  }

  .info-airpods-3rd {
    width: 250px;
    font-size: 25px;
  }
  .container-airpods-3rd-img {
    margin-left: 650px;
  }
  .container-airpods-pro-img {
    margin-left: 650px;
  }
  .info-airpods-pro {
    width: 250px;
    font-size: 25px;
  }
  .container-airpods-max-p {
    width: 400px;
  }
  .container-images-airpods-max {
    margin-left: 150px;
  }
  .box-airpods-max-media {
    margin-left: 150px;
  }
}

@media all and (max-width: 425px) {
  .all-container-all-products {
    margin-left: 400px;
  }
  .container-p-all-products-apple {
    width: 1400px;
    margin-left: 10px;
  }
  .container-all-products-apple p {
    font-size: 40px;
  }
  .macbook-air-p {
    width: 800px;
    font-size: 50px;
    margin-left: 700px;
  }
  .container-images-air {
    margin-left: 500px;
  }

  .container-img-iphone-13 {
    margin-left: 110px;
  }
  .video-13-pro {
    margin-left: 320px;
  }
  .container-img-iphone-13 {
    margin-left: 220px;
  }
  .container-img-iphone-12 {
    margin-left: 100px;
  }
  .container-2nd-generation {
    margin-left: 400px;
  }
  .container-btn-2nd {
    margin-left: 400px;
  }
  .container-first-airpods-2nd-img {
    margin-left: 650px;
  }
  .container-3rd-generation {
    width: 700px;
    margin-left: 300px;
  }
  .container-airpods-pro-list {
    margin-left: 300px;
    width: 700px;
  }
}

@media all and (max-width: 375px) {
  .header {
    width: 800px;
  }
  .footer {
    width: 1500px;
  }
  .container-macbook-air {
    margin-left: 280px;
  }
  .black-p {
    margin-left: 50px;
  }
  .img-macBook {
    margin-left: 50px;
  }
  .icons-air-pro {
    margin-left: 770px;
  }
  .inscriptions-footer {
    margin-right: 170px;
  }
  .container-more-ways {
    margin-right: 100px;
  }
  .container-copyright {
    margin-right: 100px;
  }
  .container-US {
    margin-right: 200px;
  }
  .container-all-mac-air-media {
    margin-left: 500px;
  }
  .container-all-mac-pro-media {
    margin-left: 750px;
  }
  .all-products-apple-p {
    margin-left: 50px;
  }
  .container-for-height {
    margin-left: -100px;
  }
  .icons_iPhones {
    margin-left: 800px;
  }
  .img-iphone-13 {
    margin-left: 200px;
  }
  .inscriptions-iphone-13 {
    margin-left: 150px;
  }
  .video-13-pro {
    margin-left: 250px;
  }
  .iphone-13-p {
    margin-left: 100px;
  }
  .img-iphone-13 {
    margin-left: 200px;
  }
  .box-iphone-13 {
    margin-left: 400px;
  }
  .container-all-iphone-12-media {
    margin-left: 500px;
  }
  .box-iphone-13-pro {
    margin-left: 450px;
  }
  .container-13-pro-btn {
    margin-left: 380px;
  }
  .airpods-icons {
    margin-left: -60px;
  }
  .all-container-airpods-video {
    margin-left: -20px;
  }
  .all-all-pro {
    margin-left: -20px;
  }
  .all-all-airpods-max {
    margin-left: -20px;
  }
  .all-all-airpods-2nd {
    margin-left: -20px;
  }
}

@media all and (max-width: 320px) {
  .all-container-airpods-pro {
    margin-bottom: 0;
  }
  .div-black {
    width: 1550px;
  }
  .container-macbook-air {
    width: 500px;
  }
  .header {
    width: 500px;
  }
  .footer {
    width: 1300px;
  }
  .macs-container {
    width: 1550px;
  }
  .icons-air-pro {
    margin-left: 650px;
  }
  .all-container-all-products {
    margin-left: 100px;
  }
  .vh5-container {
    width: 1300px;
  }
  .vh3-container {
    width: 1300px;
  }
  .iphone-13-container-vh2 {
    width: 1300px;
  }
  .all-all-container-iphone-se {
    width: 1300px;
  }
  .your-new-super-power {
    margin-left: 100px;
  }
  .container-for-height {
    margin-left: -200px;
  }
  .icons_iPhones {
    margin-left: 700px;
  }
  /* .container-all-iphone-13 {
    margin-left: 200px;
  } */
  .container-img-iphone-13 {
    margin-left: 100px;
  }
  .iphone-13-dollar {
    margin-left: 150px;
  }
  .iphone-13-btn {
    margin-left: 125px;
  }
  .iphone-13-a {
    margin-left: 140px;
  }
  .inscriptions-iphone-13 {
    margin-left: 120px;
  }
  .video-13-pro {
    margin-left: 180px;
  }
  .img-13-pro {
    width: 600px;
    height: 300px;
  }
  .img-13-pro-2 {
    width: 600px;
    height: 300px;
  }
  .iphone-13-pro-p {
    margin-left: 100px;
  }
  .box-iphone-13-pro {
    margin-left: 400px;
  }
  .container-13-pro-btn {
    margin-left: 330px;
  }
  .box-iphone-13 {
    margin-left: 350px;
  }
  .container-img-iphone-13 {
    margin-left: 240px;
  }
  .all-container-airpods-video {
    margin-right: 550px;
  }
  .airpods-icons {
    margin-right: 300px;
  }
  .container-airpods {
    width: 1250px;
  }
  .inscr-video-airpods {
    margin-left: 100px;
  }
  .all-all-pro {
    margin-right: 550px;
  }
  .all-all-airpods-max {
    margin-right: 505px;
  }
  .all-all-airpods-2nd {
    margin-right: 505px;
  }
  .cards-airpods {
    margin-right: 300px;
  }
}
